@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&family=Roboto:wght@400;700;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "sans-serif";
}

.homepage{
    overflow-x: hidden;
    background-image: url(./assets/Untitled\ design\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(14, 12, 12);
}

/*.overlay{
  background-image: url(./assets/inner__banner.png);
  background-repeat: no-repeat;
  background-position: 50% center;
  background-size: cover;
  width: 100%;
  height: 350px;
    object-fit: fill;
    position: absolute;
    inset: 0px;
    z-index: 1;
    opacity: 0.5;

}
*/

body{
  background-color:black;
}


section{
    display: block;
}

.container{
    padding: 82px 0 82px 48px;
    margin-top: 82px;
}

.row{
    width: 100%;
    max-width: 1200px;
}

.column{
    display: flex;
}

li,
ul,
a {
  list-style-type: none;
  text-decoration: none;
  font-weight: 600;
  transition: all ease 0.3s;
}

h1 {
    font-size: 48px;
    color: #fff;
    margin-bottom: 20px;
  }

  p{
    color: #fff;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
  }
  
  
  .logo__img{
    width: 80px;
    height: 80px;
  }
  
  .header__logo{
  margin-left: 32px;
}

  ul {
    display: flex;
    align-items: center;
  }

  button {
    transition: all ease 300s;
    cursor: pointer;
  }
  
  .btn {
    padding: 16px 32px;
    border-radius: 25px;
    border: none;
    background-color: #b026ff;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    transition: all 300ms ease;
  }
  
  .btn:hover {
    box-shadow: 0 0 5px #b026ff, 0 0 25px #b026ff, 0 0 50px #b026ff, 0 0 100px #b026ff, 0 0 200px #b026ff;
  }


/*

NAV

*/
.nav{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: relative;

}
  
  .nav__link {
    margin: 24px;
    padding: 16px 32px;
    border-radius: 25px;
    border: none;
    background-color: black;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    transition: all 300ms ease;
  }
  

.navs__link{
  background-color: #b026ff;
}

  .link__hover--effect{
    transition: 300ms ease;
  }

  .link__hover--effect:hover{
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
  }

  .nav__cursor{
    cursor: not-allowed;
  }

  .title{
    color: white;
  }

/*

LANDING PAGE

*/


#landing__page{
  padding: 32px 32px 0 32px;
}

.inner__landing--page{
  padding: 0 42px;
  display: flex;
  justify-content: center;
}

/*

HEADER

*/

.header_row{
    width: 50%;
    margin: 0 auto;
    padding: 24px 0;
}

.header__content{
  width: 40%;
}

.header__container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 24px;
}

.content__wrapper {
  position: relative;
  z-index: 10;
}

.title{
  text-align: center;
    letter-spacing: 0.1em;
    font-size: 52px;
    margin: 40px;
}

.search{
  display: flex;
}

.searchbar{
  position: relative;
}

.header__input{
  background-color: black;
  border-radius: 100px;
  color: white;
  border: 2px solid #67089e;
  font-size: 16px;
  font-weight: 500;
  transition: border-color 300ms ease;
  padding: 16px 32px;
  width: 100%;
}


.header__input:hover{
border-color: #b026ff;  
}

.search__btn{
  position: absolute;
  right: 0;
  margin: 10px 14px 0 0;
  padding: 8px;
  width: 80px;
}

.header__btn{
  text-align: center;
}

.glow__effect{
  transition: text-shadow 0.3s ease-in-out;
  text-shadow: 0 0 10px #b026ff, 
  0 0 20px #67089e, 
  0 0 30px #b026ff;
}

.glow__effect:hover{
  text-shadow: 0 0 10px #67089e, 
  0 0 20px #67089e, 
  0 0 30px #b026ff;
  cursor: pointer;
}





/*

MOVIES RESULTS


*/

.movie__poster{
  width: 100%;
  margin: 10px;
}



/*

small phones, tablets and large mobile phones



@media (max-width:768px)


/* 

SMALL PHONES, LARGE SMARTPHONES



@media (max-width: 550px)


*/